<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <p>タイトル</p>
  <%= link_to post.title, post_path(post.id) %>
  
  <p>所在地</p>
  <span><%= post.address %></span>
  
  <p>投稿者</p>
  <span><%= post.user.name %></span>
  
<% end %>