body.about-page {
  background-image: image-url("about.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  text-align: left;
}

.heading-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-heading {
  color: white;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 27px;
}

.text-container {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.background-text h3 {
  /* h3要素に適用するスタイル */
}

.background-text p {
  /* p要素に適用するスタイル */
}
