body.about-page {
  background-image: image-url("about.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  .container {
    text-align: left;
  }

  .heading-container {
    margin-top: 20px;
    margin-bottom: 40px; /* 左上に配置するための余白 */
  }

  .heading-text {
    color: white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 27px; /* 文字ごとの隙間を広く */
  }

  .text-container {
    padding: 10px;
    border-radius: 5px; /* 角丸 */
    color: white;
    font-size: 15px;
    letter-spacing: 7px; /* 文字ごとの隙間を広く */
  }
}