<div class="col">
  <div class="card border-rounded shadowed">
    <div class="card-body">
      <h5 class="card-title">検索結果</h5>
      <p class="card-text">検索結果が見つかりませんでした。</p>
    </div>
  </div>
</div>
