<h1>このサイトについて</h1>
<p>ご朱印とは：神社やお寺を参拝した証としていただく、神仏とのご縁の記録です。

力強い墨色の筆遣いと朱色の印のコントラストや、季節によっては色鮮やかなご朱印や直書きの絵入りご朱印が存在したりなど、アート性の高さやご朱印帳自体のデザイン性の高さも人気のひとつとしてあげられます。</br>
また、ご朱印をいただくまでの旅の楽しさや、神社仏閣それぞれの個性や歴史に触れることができるのも魅力です。</br>

しかし、いざご朱印をいただこうと思っても、すべての神社仏閣でご朱印がいただけるとは限りません。</br>
事前に調べようと思っても、有名な観光地以外では情報が少なかったり、とりあえずご朱印がいただけるからと実際に行ってみたら、階段がとても多かったり険しい山道が続いたりと準備不足で大変な思いをすることも・・・</br>
実際に私自身も、情報不足からの準備不足で大変な思いをした経験が幾度となくありました。</br>

かといって、情報が少ないからと行くのを諦めてしまうのは非常にもったいないと考えています。</br>

今まで行ったことのある情報をレビューとして残しておくことで、行ったことのある人にとっては思い出の記録として残り、これから行く人にとっては情報の源になればと思い、</p>