<body class="top-page">
  <div class="container">
    <div class="heading-container">
      <h1 class="heading-text">
        『みんなのご朱印』は</br>
        ご朱印がいただける</br>
        神社仏閣の情報を</br>
        あつめるサイトです
      </h1>
    </div>
    <div class="text-container">
      <span class="background-text">
        「ご朱印を集めたいけど、</br>　　　　　どこに行けばいいかわからない・・・」</br></br>
        「行きたいところがあるけど、</br>　　　　　どんなところか情報が少なくて不安・・・」</br></br>
        「今まで行ったところを記録として残したい！」</br></br>
        『みんなのご朱印』は、そんな方のためのサイトです。
      </span>
    </div>
    <% unless user_signed_in? %>
      <h3 class="animated-text">まずは　<%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn-guest-login" %>　からお試しください。</h3>
      <p class="animated-text small-text">
        ※ゲストとしてログインします。</br>　
        ゲストのためプロフィールの編集はできません。</br></br>
        <span class="badge-link">
          新規会員登録は
          <%= link_to "こちら", new_user_registration_path, class: "badge-guest-login"%>
          ログインは
          <%= link_to "こちら", new_user_session_path, class: "badge-guest-login" %>
        </span>
      </p>
    <% end %>
  </div>
</body>
