.card-custom {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.card-custom.show {
  opacity: 1;
  transform: translateY(0);
}
.comment-card {
  margin-bottom: 15px;
}

.btn-sakura {
  color: #fff;
  background-color: #ff7e9b;
  border-color: #ff7e9b;
}

.btn-sakura:hover {
  background-color: #ff4f7b;
  border-color: #ff4f7b;
}

.btn-yamabuki {
  color: #fff;
  background-color: #f8b500;
  border-color: #f8b500;
}

.btn-yamabuki:hover {
  background-color: #d09100;
  border-color: #d09100;
}

.btn-sky {
  color: #fff;
  background-color: #87ceeb;
  border-color: #87ceeb;
}

.btn-sky:hover {
  background-color: #6ca6cd;
  border-color: #6ca6cd;
}

/* バッジのデザイン */
.badge-custom {
  background-color: #dda0dd;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  font-size: 0.9em;
  display: inline-block;
  transition: background-color 0.3s;
}

.badge-custom:hover {
  background-color: #c48cc4;
  text-decoration: none;
}

