.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.border-rounded {
  border-radius: 10px;
}

/* フェードインのアニメーション */
.fade-in-from-bottom {
  opacity: 0; /* 最初は非表示 */
  transform: translateY(20px); /* 下に20px移動 */
  animation: fadeInFromBottom 0.5s ease forwards; /* アニメーション適用 */
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px); /* 下に20px移動 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 元の位置に戻る */
  }
}