.post-card .card-body {
  line-height: 1.2; /* 行間を調整 */
}

.post-card .card-text {
  margin-bottom: 0.5rem; /* 下部の余白を調整 */
}

.filter-sort-options .form-select, .filter-sort-options .btn {
  margin-top: 0.5rem; /* フォーム内の要素に少し余白を追加 */
}

.filter-sort-options .row > div {
  padding-left: 5px;
  padding-right: 5px;
}

.text-center .btn {
  display: inline-block;
  margin: 0 0.5rem;
}

.filter-sort-options .btn {
  min-width: 100px; /* ボタンの最小幅を設定 */
  white-space: nowrap; /* テキストが折り返されないようにする */
  padding-left: 1rem; /* 左右の余白を追加 */
  padding-right: 1rem;
  overflow: visible; /* テキストが切れないようにする */
}

.btn-sakura {
  color: #fff;
  background-color: #ff7e9b;
  border-color: #ff7e9b;
}

.btn-sakura:hover {
  background-color: #ff4f7b;
  border-color: #ff4f7b;
}

.btn-yamabuki {
  color: #fff;
  background-color: #f8b500;
  border-color: #f8b500;
}

.btn-yamabuki:hover {
  background-color: #d09100;
  border-color: #d09100;
}


/* バッジのデザイン */
.badge-custom {
  background-color: #dda0dd;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  font-size: 0.9em;
  display: inline-block;
  transition: background-color 0.3s;
}

.badge-custom:hover {
  background-color: #c48cc4;
  text-decoration: none;
}
