.registration-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
}

.submit-btn {
  background-color: #f08080;
  border-color: #f08080;
}