<!-- コメント入力フォーム -->

<div class="row">
  <div class="col-md-12">
    <% unless current_user.guest_user? %>
      <div class="card card-custom p-3 mb-3">
        <%= form_with(model: [@post, @comment], method: :post, local: true, html: { id: 'commentForm' }) do |f| %>
          <div class="mb-3">
            <p>ご朱印をいただけるまでの難易度はどれぐらいでしたか？</p>
            <div class="form-group" id="comment_raty"></div>
            <%= f.text_area :comment, placeholder: "コメントを入力してください", class: "form-control", id: "commentField" %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <div class="invalid-feedback">コメントを入力してください。</div>
          </div>
          <div>
            <%= f.submit "コメントする", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>